.container--cart--cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 91vh;
  width: 100%;
}

.intro--h3 {
  margin: 0px;
  font-size: 16px;
  padding: 10px 0;
  letter-spacing: 10px;
  color: darkgoldenrod;
}

.container--itens {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 620px;
  max-height: 620px;
  overflow-y: scroll;
  width: 90%;
  padding: 0px;
  margin: 0px;
}

.container--preco {
  height: 70px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.finally {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 45px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid white;
  background-color: black;
  color: white;
}

.finally:hover {
  background-color: #282c34;
}
